* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3c3a39;
  width: 100%;
  margin: auto;
  padding: 0.6em;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

nav #hamburger {
  font-size: medium;
  margin-left: 295px;
  margin-top: 26px;
}

#logo {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  background-color: rgb(56, 56, 56);
  text-decoration: none;
  position: absolute;
  height: 9px;
  left: 25px;
  top: 50px;
}

#headline ul li {
  list-style: none;
}

#icon {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 200px;
  height: 40px;
  justify-content: left;
  text-align: left;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #dbd8d7;
  font-size: 10px;
}

#icon #github {
  position: absolute;
  left: 9%;
  right: 0.01%;
  top: 660px;
  bottom: 0%;
}

#icon #linkedin1 {
  position: absolute;
  left: 20%;
  right: 75.13%;
  top: 660px;
  bottom: 0%;
}

#icon #linkedin2 {
  position: absolute;
  left: 21.44%;
  right: 0%;
  top: 660px;
  bottom: 0%;
}

#icon #hand {
  position: absolute;
  left: 32.58%;
  right: 14.58%;
  top: 660px;
  bottom: 0%;
}

#icon #twitter {
  position: absolute;
  left: 44.04%;
  right: 0.03%;
  top: 660px;
  bottom: 0%;
}

#icon #medium {
  position: absolute;
  left: 56.33%;
  right: 8.33%;
  top: 660px;
  bottom: 16.67%;
}

#headline {
  width: 100%;
  background-color: #1c1a19;
  background-image: url("/images/mobile-images/header/headlin-image/headline-img.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 45% 45%;
}

#headline-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
  height: 100vh;
}

#h1 {
  width: 100%;
  height: auto;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 10%;
}

p {
  display: flex;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: auto;
  color: #fff;
}

h2,
p {
  margin-left: 5%;
}

h1,
h2,
p,
ul {
  width: 90%;
  margin: 0 auto;
  padding: 0.438em;
}

/* Middle section style */
#middle {
  display: grid;
  grid-template-columns: 100%;
  height: 1000px;
}

#middle h1 {
  width: 327px;
  height: 83px;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#middle hr {
  margin: 0;
  height: 0;
}

#middle img {
  width: 327px;
  height: 237px;
  display: flex;
  order: 0;
  flex-grow: 0;
  margin-top: 76px;
  margin-left: 20px;
  margin-right: 20px;
}

#middle #second-tittle {
  width: 327px;
  height: 36px;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  text-align: center;
  color: #091e42;
  padding: 1px;
}

#middle p {
  width: 327px;
  height: 147px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #091e42;
}

#middle .lang-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 5px 5px;
  width: 50px;
  height: 40px;
  background: #fff;
  margin-left: 25px;
}

#middle .lang-list {
  width: 31px;
  height: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-right: 30px;
  padding-left: 5px;
  color: #091e42;
  margin-right: 25px;
  margin-left: -8px;
  list-style: none;
}

.lang-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  height: 40px;
  color: #091e42;
  background-color: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 73px;
  padding: 10px 7px;
}

#middle #pro-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-left: 23px;
  margin-top: 20px;
  color: #fff;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

#middle #pro-btn:hover {
  background-color: wheat;
  color: grey;
  opacity: 1;
}

/* End middle section style */

/* Projects section style */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 100%;
  height: 3000px;
  margin: 2% 0 auto auto;
  margin-top: 130px;
}

.frame1 {
  background-image: url("./images/mobile-images/section-2/Img\ Placeholder.png");
  width: 100%;
  height: 600px;
  margin-top: -127px;
  background-repeat: no-repeat;
}

.card1 {
  width: 80%;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.card1 h2 {
  display: flex;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 32px;
  line-height: 33px;
  margin-left: 13px;
  color: #fff;
}

#projects .card1 p {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #fff;
}

#projects .card-lists1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-right: 3px;
  width: 67px;
  height: 40px;
  margin-left: 35px;
}

#projects .card-lists1 li {
  list-style: none;
}

.card-lists1 li a {
  text-decoration: none;
}

.card-lists1 #html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists1 #bot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists1 #ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.frame1 .project-btn1 {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  display: block;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

.frame1 .project-btn1:hover {
  background-color: wheat;
  color: gray;
  opacity: 1;
}

/* card 2 */

.frame2 {
  background-image: url("./images/mobile-images/section-2/Img\ Placeholder.png");
  width: 100%;
  height: 600px;
  margin-top: -127px;
  background-repeat: no-repeat;
}

.card2 {
  width: 80%;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.card2 h2 {
  display: flex;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 32px;
  line-height: 33px;
  margin-left: 13px;
  color: #fff;
}

#projects .card2 p {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #fff;
}

#projects .card-lists2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-right: 3px;
  width: 67px;
  height: 40px;
  margin-left: 35px;
}

#projects .card-lists2 li {
  list-style: none;
}

.card-lists2 li a {
  text-decoration: none;
}

.card-lists2 #html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists2 #bot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists2 #ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.frame2 .project-btn2 {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  display: block;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

/* End card 2 */

/* Card 3 */
.frame3 {
  background-image: url("./images/mobile-images/section-2/Img\ Placeholder.png");
  width: 100%;
  height: 600px;
  margin-top: -127px;
  background-repeat: no-repeat;
}

.card3 {
  width: 80%;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.card3 h2 {
  display: flex;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 32px;
  line-height: 33px;
  margin-left: 13px;
  color: #fff;
}

#projects .card3 p {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #fff;
}

#projects .card-lists3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-right: 3px;
  width: 67px;
  height: 40px;
  margin-left: 35px;
}

#projects .card-lists3 li {
  list-style: none;
}

.card-lists3 li a {
  text-decoration: none;
}

.card-lists3 #html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists3 #bot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists3 #ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.frame3 .project-btn3 {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  display: block;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

/* End card 3 */

/* Card 4 */
.frame4 {
  background-image: url("./images/mobile-images/section-2/Img\ Placeholder.png");
  width: 100%;
  height: 600px;
  margin-top: -127px;
  background-repeat: no-repeat;
}

.card4 {
  width: 80%;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.card4 h2 {
  display: flex;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 32px;
  line-height: 33px;
  margin-left: 13px;
  color: #fff;
}

#projects .card4 p {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #fff;
}

#projects .card-lists4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-right: 3px;
  width: 67px;
  height: 40px;
  margin-left: 35px;
}

#projects .card-lists4 li {
  list-style: none;
}

.card-lists4 li a {
  text-decoration: none;
}

.card-lists4 #html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists4 #bot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists4 #ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.frame4 .project-btn4 {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  display: block;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

/* End card 4 */

/* Cart 5 */
.frame5 {
  background-image: url("./images/mobile-images/section-2/Img\ Placeholder.png");
  width: 100%;
  height: 600px;
  margin-top: -133px;
  background-repeat: no-repeat;
}

.card5 {
  width: 80%;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.card5 h2 {
  display: flex;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 32px;
  line-height: 33px;
  margin-left: 13px;
  color: #fff;
}

#projects .card5 p {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #fff;
}

#projects .card-lists5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-right: 3px;
  width: 67px;
  height: 40px;
  margin-left: 35px;
}

#projects .card-lists5 li {
  list-style: none;
}

.card-lists5 li a {
  text-decoration: none;
}

.card-lists5 #html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists5 #bot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists5 #ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.frame5 .project-btn5 {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  display: block;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

/* End card 5 */

/* Cart 6 */
.frame6 {
  background-image: url("./images/mobile-images/section-2/Img\ Placeholder.png");
  width: 100%;
  height: 600px;
  margin-top: -90px;
  background-repeat: no-repeat;
}

.card6 {
  width: 80%;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.card6 h2 {
  display: flex;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 32px;
  line-height: 33px;
  margin-left: 13px;
  color: #fff;
}

#projects .card6 p {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #fff;
}

#projects .card-lists6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-right: 3px;
  width: 67px;
  height: 40px;
  margin-left: 35px;
}

#projects .card-lists6 li {
  list-style: none;
}

.card-lists6 li a {
  text-decoration: none;
}

.card-lists6 #html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists6 #bot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.card-lists6 #ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 17px;
  background-color: rgba(255, 255, 255, 0.24);
  border: rgba(255, 255, 255, 0.24);
  height: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -11px;
  margin-right: 23px;
}

.frame6 .project-btn6 {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  display: block;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
  border: none;
}

/* End card 6 */

/* End Projects section style */

/* About section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  width: 100%;
  height: 1299px;
  background-color: #1c1a19;
  background-image: url("./images/mobile-images/about/Frame.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 14%;
}

#about h2 {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin-left: -21px;
  letter-spacing: 0.37px;
  align-items: center;
  color: #ff6b00;
}

#about #about-me {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  align-items: center;
}

#resume-btn {
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 156px;
  height: 48px;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 18px;
  border: none;
  color: #fff;
  margin-bottom: 153px;
}

#techs {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  align-items: center;
  display: block;
  margin-top: 2px;
  color: #fff;
  text-align: center;
}

#techs .skills {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
}

#techs #language li {
  list-style: none;
}

#techs li img {
  margin-left: -41px;
  margin-right: 12px;
  font-weight: 700px;
  font-size: 32px;
}

#language {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  align-items: center;
  display: block;
  margin-top: 2px;
  color: #fff;
}

#frameworks {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  align-items: center;
  display: block;
  margin-top: 2px;
  color: #fff;
}

#techs #frameworks li {
  text-align: center;
  list-style: none;
}

#skills {
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  align-items: center;
  display: block;
  margin-top: 2px;
  color: #fff;
}

#techs #skills li {
  text-align: center;
  list-style: none;
}

/* End about */

/* Contact form start */
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 10px 24px;
  margin-left: -36px;
  gap: 58px;
  width: 100%;
  height: 500px;
}

#contact-form #form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 24px;
  gap: 58px;
  width: 100%;
  height: auto;
}

#contact-form #contact-form-p {
  width: 327px;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

#contact-form #contact-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  height: auto;
}

#contact-form #contact-form-inputs .input-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#contact-form .input-box input {
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  border: none;
  margin-bottom: 0;
  margin-right: 138px;
  padding: 5px;
}

#contact-form #contact-form-inputs textarea {
  height: 100px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  background-color: #fbf8f7;
  border: none;
  padding-right: 168px;
  padding-top: 12px;
  padding-left: 12px;
}

#contact-form #contact-form-inputs li {
  list-style: none;
}

#contact-form #form-btn button {
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

#footer #footer-ul #footer-icons li {
  list-style: none;
  padding: 5px 5px;
}

#footer-icons {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  height: 40px;
  justify-content: center;
  margin-top: 135px;
  margin-bottom: 6px;
}

.social-icons-footer {
  display: flex;
  flex-direction: row;
  color: #dbd8d7;
  font-size: 10px;
}

#footer-icons #github-fo {
  left: 9%;
  right: 0.01%;
  top: 660px;
  bottom: 0%;
}

#footer-icons #linkedin1-fo {
  left: 20%;
  right: 75.13%;
  top: 660px;
  bottom: 0%;
}

#footer-icons #linkedin2-fo {
  left: 21.44%;
  right: 0%;
  top: 660px;
  bottom: 0%;
}

#footer-icons #hand-fo {
  left: 32.58%;
  right: 14.58%;
  top: 660px;
  bottom: 0%;
}

#footer-icons #twitter-fo {
  left: 44.04%;
  right: 0.03%;
  top: 660px;
  bottom: 0%;
}

#footer #footer-ul #shape-fo {
  width: 134px;
  height: 5px;
  left: 44.04%;
  right: 0.03%;
  top: 660px;
  margin-left: 120px;
  display: block;
  background: #0d151e;
  border-radius: 10px;
  align-items: center;
}

/* Contact form end */
